#killFeedContainer {
  position: fixed;
  top: 50px;
  left: 10px
}
.killFeedList {
  list-style: none;
  padding: 0px;
  margin: 0px
}
.killIconBody {
  background: url("../../assets/images/icons/BodyShotIcon.png");
  width: 20px;
  height: 20px;
  background-size: 20px 20px
}
.killIconHead {
  background: url("../../assets/images/icons/HeadShotIcon.png");
  width: 20px;
  height: 20px;
  background-size: 20px 20px
}
.killContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2px
}
.playerName {
  padding: '0px 10px 0px 10px';
  font-family: Quicksand;
  color: black
}
